@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme {
    /* colors */
    --color-brand-primary: var(--brand-primary);
    --color-brand-secondary: var(--brand-secondary);
    --color-bg-main: var(--bg-main);
    --color-bg-surface: var(--bg-surface);
    --color-text-base: var(--text-base);
    --color-text-muted: var(--text-muted);
    --color-border-subtle: var(--border-subtle);

    /* Shadows */
    --shadow-soft: 0 10px 25px -5px rgba(0, 0, 0, 0.05);
}

:root {
    --brand-primary: #3e5c76;
    --brand-secondary: #c2410c;
    --bg-main: #f5f2ee;
    --bg-surface: #ffffff;
    --text-base: #2d241e;
    --text-muted: #6b5e54;
    --border-subtle: #dccfbf;
}

.dark {
    --brand-primary: #7da1c4;
    --brand-secondary: #f87171;
    --bg-main: #1e1b19;
    --bg-surface: #2a2624;
    --text-base: #ede0d4;
    --text-muted: #a89a8e;
    --border-subtle: #453f3a;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    html::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    html::-webkit-scrollbar-track {
        background: transparent;
    }

    html::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 100px;
        border: 2px solid transparent;
        background-clip: content-box;
    }

    html::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }

    html.dark::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.2);
    }

    html.dark::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }

    body {
        @apply bg-bg-main text-text-base;
        font-family: "Cairo", sans-serif;
        transition:
            background-color 0.3s ease,
            color 0.3s ease;
        direction: rtl;
    }

    nav,
    .modal-content {
        @apply bg-bg-surface;
    }
}

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
        margin-block: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 100px;
        border: 2px solid transparent;
        background-clip: content-box;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }

    /* Dark Mode */
    .dark .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }
}
